/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    box-sizing: border-box; /* Incluye padding y border en el tamaño de los elementos */
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
   
   
}

header h1 {
    font-size: 2.5em;
    margin: 40px;
    color: rgb(255, 255, 255);   
}
/* Contenedor principal del carrusel */
.carousel {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.image-container {
    display: flex;
    width: 600%; /* Ajusta este valor al número total de imágenes * 100% */
    animation: slide 45s infinite;
}

img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

@keyframes slide {
    0% {
      margin-left: 0;
    }
    15% {
      margin-left: 0; /* Imagen estática durante 3 segundos */
    }
    18% {
      margin-left: -100%; /* Transición de 3 segundos */
    }
    33% {
      margin-left: -100%;
    }
    36% {
      margin-left: -200%;
    }
    51% {
      margin-left: -200%;
    }
    54% {
      margin-left: -300%;
    }
    69% {
      margin-left: -300%;
    }
    72% {
      margin-left: -400%;
    }
    87% {
      margin-left: -400%;
    }
    90% {
      margin-left: -500%;
    }
    100% {
      margin-left: -500%;
    }
  }



/* Contenedor de las tarjetas */
.cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px; /* Espacio entre tarjetas */
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 250px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
}

/* Iconos */
.card-icon {
    width: 60px;  
    height: 60px;
    object-fit: contain;
    margin-bottom: 20px;
}

/* Contenedor Principal */
.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px; /* Espacio entre el formulario y las recomendaciones */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 40px auto;
    padding: 16px;
}


/* Formulario */
.form-container {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    margin: 20px auto; 
}


form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

form label {
    text-align: left;
    margin-bottom: 5px;
    font-size: 1.1em;
}

form select, form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

form button:hover {
    background-color: #0056b3;
}

.content {
    padding: 40px 20px;
    text-align: center;
}



.Instruccion {
    display: flex;
    justify-content: center; 
    text-align: center; 
    font-family: Arial, sans-serif;
    color: #666;
    margin-top: 20px;
}

/* Contenedor del formulario y las tarjetas */
.form-tarjetas-container {
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    position: relative;
    margin: 40px auto; 
    max-width: 90%; 
    gap: 40px; 
}

/* Desplazar formulario hacia la izquierda */
.form-container.slide-left {
    animation: slideLeftPartial 1s forwards;
}

@keyframes slideLeftPartial {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(-70%);

    }
}


/* Contenedor de las tarjetas */
.cards-container-recomendaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px; /* Espacio entre tarjetas */
}

.card-recomendacion {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 600px;
    height: 180px; /* Altura mínima para un diseño uniforme */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 0; /* Sin margen */
    padding: 0; /* Sin padding interno */
}

/* Contenedor del contenido de la tarjeta */
.card-recomendacion-content {
    padding: 10px; /* Espaciado interno del contenido */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    overflow: auto;
    word-wrap: break-word;
    width: 60%; /* Resto del espacio ocupado por el contenido */
    margin: 0; /* Sin margen */
}

.card-recomendacion h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    /*white-space: normal*/;
}

.card-recomendacion p {
    font-size: 0.9em;
    color: #f0f0f0;
    margin-bottom: 0;
    line-height: 1em;
}

.card-recomendacion img {
    width: 40%;  
    height: 100%;
    object-fit: cover;
    margin: 0; /* Sin margen */
    padding: 0; /* Sin padding */
}

/* Iconos */
.card-icon-recomendacion {
    width: 60px;  
    height: 60px;
    object-fit: contain;
    margin-bottom: 20px;
}



/* Contenedor de tarjetas dinámicas */
#recomendaciones {
    display: flex;
    flex-direction: column; /* Las tarjetas se apilan en columna */
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    margin: 20px auto;
    opacity: 0; /* Ocultas inicialmente */
    transform: translateY(20px); /* Ligeramente hacia abajo */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Transiciones suaves */
    position: absolute; /* Posición absoluta para alinearlas a la derecha del formulario */
    left: calc(50% + -45px); /* Se colocan a la derecha del formulario (ajusta el espacio entre ambos) */
    width: 100%; /* Controla el ancho del contenedor de las cartas */
}

#recomendaciones.visible {
    opacity: 1; /* Hacer visibles las tarjetas */
    transform: translateY(0); /* Volver a la posición original */
}


/* Footer */
.footer {
    background-color: #007bff; /* Azul oscuro */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
    flex: 1;
    text-align: left;
    color: black;
}

.btn_Volver_Arriba {
    background-color: #000000; /* Verde agua */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}



.social-icons {
    display: flex;
    gap: 10px;
    flex: 1;
    justify-content: flex-end;
}

.icon {
    width: 30px; /* Tamaño de los íconos */
    height: auto;
}

footer p {
    color: #666;
    font-size: 1em;
}

/* Responsive */
@media (max-width: 768px) {
    .form-tarjetas-container {
        flex-direction: column;
        gap: 20px;
    }

    #recomendaciones {
        width: 100%;
    }

}

.descripcionTravelIA {
    margin: 40px auto; 
    max-width: 1000px; 
    color: #808080; 
    font-size: 16px; 
    line-height: 1.6; 
    text-align: justify;
}